<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>
<p>
  <strong>ID:</strong>
  <%= @track.id %>
</p>

<p>
  <strong>Recommend:</strong>
  <%= @track.recommend %>
</p>

<p>
  <strong>Flac:</strong>
  <%= @track.flac %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @track.genre %>
</p>

<p>
  <strong>Lyrics:</strong>
  <%= @track.lyrics %>
</p>
<p>
  <strong>Artist:</strong>
  <%=link_to @track.album.artist.activity_name, artist_path(@track.album.artist.id) %>
</p>
<p>
  <strong>Album:</strong>
  <%= link_to @track.album.title, album_path(@track.album.id) %>
</p>
<%= audio_tag @track.track_play, controls: "controls"%>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
